* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: cadetblue;

    .logo {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: chartreuse;
    }

    .navigation-bar-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: chocolate;
        width: 320px;
        font-family: sans-serif;
        font-size: 13px;
        cursor: pointer;
    }
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .google-ad1,
    .google-ad2 {
        height: 750px;
        width: 2000px;
        background-color: chocolate;
    }

    .main-article {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        height: 300px;
        padding: 0 80px;
        background-color: yellow;

        p {
            font-size: 18px;
            font-family: sans-serif;
            line-height: 1.5;
        }
    }
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 127px;
    width: 100%;
    background-color: yellow;

    .footer-logo {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: white;
    }
}